<div class="row w-50 m-auto">
  <div class="row">
    <div class="col">
      <h1 class="display-3">Header</h1>
    </div>
    <span float="right"><app-user (api_access_jwt)="on_login($event)" [user_name]="get_logged_in_user()?.name"></app-user></span>
    <div class="row">
    <div class="col">
      <app-game-setup *ngIf="!this.session && get_logged_in_user()" 
      [api_access_token]="get_api_access_token()" 
      [user]="get_logged_in_user()" 
      (connection_request)="on_connection_requested($event)"
      ></app-game-setup>

      <app-game-session *ngIf="this.session && get_logged_in_user()" 
      [session]="this.session" 
      [is_coordinator]="this.is_coordinator" 
      [connection]="this.ws_connection"
      [player_data]="this.get_logged_in_user()"
      [answer_cards]="this.answer_cards_hand"
      ></app-game-session>
    </div>
  </div>
</div>