<div class="row w-50 m-auto">
  <div class="row">
    <div class="col">
      <h1 class="display-3">Header</h1>
    </div>
    <span float="right"><app-user (api_access_jwt)="onLogin($event)" [user_name]="getLoggedInUser()?.name"></app-user></span>
    <div class="row">
    <div class="col">
      <app-game-setup *ngIf="!session_guid && getLoggedInUser()" [api_access_token]="getApiAccessToken()" [user]="getLoggedInUser()"></app-game-setup>
      <app-game-session *ngIf="session_guid && getLoggedInUser()" [session_guid]="session_guid"  [api_access_token]="getApiAccessToken()"></app-game-session>
    </div>
  </div>
</div>